.hidden {
    display: none !important;
}

.postTitle {
    font-size: 20px;
    font-weight: bold;
}

#finished {
    font-size: 19px;
    font-weight: bold;
    text-decoration: underline;
    margin: 0 20px;
}

#get-titles {
    display: flex;
    align-items: center;
}

.num-input {
    width: 60px;
}

#start-url {
    width: 350px;
}

.form-elem {
    height: 30px;
    padding: 5px;
    margin-right: 5px;
}

.form-elem:first-of-type {
    height: 30px;
    padding: 5px 5px 5px 0;
    margin-right: 5px;
}

#products {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#products td, #products th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: right;
}

#products tr:nth-child(even) {
    background-color: #f2f2f2;
}

#products tr:hover {
    background-color: #ddd;
}

#products th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.gone {
    color: red;
}