.hidden {
    display: none !important;
}

.postTitle {
    font-size: 20px;
    font-weight: bold;
}

.finished {
    font-size: 19px;
    font-weight: bold;
    text-decoration: underline;
    margin: 0 20px;
}

#get-titles {
    display: flex;
    align-items: center;
}

.num-input {
    width: 60px;
}

#start-url {
    width: 350px;
}

.form-elem {
    height: 30px;
    padding: 5px;
    margin-right: 5px;
}

.form-elem:first-child {
    height: 30px;
    padding: 5px;
    margin-right: 5px;
}

.gone {
    color: red;
}